body {
  font-family: sans-serif;
  background-color: white;
}

.wrapper {
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
}

li:hover {
  background: blue;
}

li {
  width: 250px;
  height: 30px;
}

.quiz-components {
  padding-left: 20px;
  padding-right: 20px;
}
.btn {
  border: none;
  background-color: blue;
  border-radius: 20px;
  color: white;
  font-size: 20px;
  line-height: 16px;
  margin: 14px 14px 14px 14px;
  padding: 10px 11px;
  text-align: center;
  cursor: pointer;
}
.time {
  flex-direction: row;
  text-align: end;
}
#start {
  text-align: center;
}

.hide {
  display: none;
}

#instruction-text {
  text-align: center;
  font-size: larger;
}

#answer-box {
  margin: auto;
  align-content: center;
}
